<!-- NAVIGATION -->
<div class="ui big sticky secondary pointing menu">
    <div class="header item">
      <img
        class="app-logo"
        src="assets/images/moodsphere.svg"
        alt="Moodsphere Logo"
      />
      <span class="ui header item app-name">Moodsphere</span>
    </div>
    <div class="right menu">
      <a class="item" href="/home">
        Home
      </a>
      <a class="item" href="/overview">
        Overview
      </a>
      <a class="item" href="/discover">
        Discover
      </a>
      <a class="ui item" id="logout-btn" href="/logout">
        Logout
      </a>
    </div>
</div>