<!-- NAVIGATION -->
<div class="ui sticky secondary pointing menu">
    <img
      class="app-logo"
      src="assets/images/moodsphere.svg"
      alt="Moodsphere Logo"
    />
    <p class="ui header item app-name">Moodsphere</p>
    <div class="right menu">
      <a class="item" href="/home">
        Home
      </a>
      <a id="add-entry-btn" class="item">
        Add Entry
      </a>
      <a class="item" href="/overview">
        Overview
      </a>
      <a class="item" href="/discover">
        Discover
      </a>
      <a class="ui item" id="logout-btn" href="/logout">
        Logout
      </a>
    </div>
</div>