<%- include('partials/header') -%>

<%- include('partials/navbar') -%>

<main class="summary">
    <!-- DATE -->
    <h3 id="display-date" class="heading"></h3>
    <div id="mood-states" class="ui grid">
      <div class="five column row">
        <div class="column">
          <button
            id="depressed"
            class="mood"
            data-mood="depressed"
            data-color="#5C8B93"
            value=1
          ></button>
          <p class="mood-text">depressed</p>
        </div>
        <div class="column">
          <button
            id="sad"
            class="mood"
            data-mood="sad"
            data-color="#76B3BE"
            value=2
          ></button>
          <p class="mood-text">sad</p>
        </div>
        <div class="column">
          <button
            id="moderate"
            class="mood"
            data-mood="moderate"
            data-color="#8FDAE7"
            value=3
          ></button>
          <p class="mood-text">moderate</p>
        </div>
        <div class="column">
          <button
            id="happy"
            class="mood"
            data-mood="happy"
            data-color="#A3E0EB"
            value=4
          ></button>
          <p class="mood-text">happy</p>
        </div>
        <div class="column">
          <button
            id="exhilirated"
            class="mood"
            data-mood="exhilirated"
            data-color="#C1EAF1"
            value=5
          ></button>
          <p class="mood-text">exhilirated</p>
        </div>
      </div>
    </div>

    <hr />
    <!-- QUESTION ANSWERS -->
    <div id="question-answers">
        <div class="eight wide column">
          <div id="questionA" class="question">Do you feel hopeless?</div>
          <button
            id="answer-1A"
            class="answer-opt-1"
            data-text="I feel hopeless all the time."
            value=1
          >Yes, all the time.</button>
          <button
            id="answer-2A"
            class="answer-opt-1"
            data-text="I feel hopeless sometimes."
            value=2
          >Yes, sometimes.</button>
          <button
            id="answer-3A"
            class="answer-opt-1"
            data-text="I feel hopeful."
            value=3
          >No.</button>
        </div>
        <div class="eight wide column">
          <div id="questionB" class="question">Are you getting less sleep than usual?</div>
          <button
            id="answer-1B"
            class="answer-opt-2"
            data-text="I have trouble falling asleep."
            value=1
          >Yes, I had trouble falling asleep.</button>
          <button
            id="answer-2B"
            class="answer-opt-2"
            data-text="I keep waking up at night."
            value=2
          >Yes, I kept waking up at night.</button>
          <button
            id="answer-3B"
            class="answer-opt-2"
            data-text="My sleeping habits are normal."
            value=3
          >No, I haven't noticed any differences.</button>
        </div>
        <div class="eight wide column">
          <div id="questionC" class="question">Have you been productive today?</div>
          <button
            id="answer-1C"
            class="answer-opt-3"
            data-text="I am productive."
            value=1
          >Yes, I have kept myself busy.</button>
          <button
            id="answer-2C"
            class="answer-opt-3"
            data-text="I only complete necessary tasks."
            value=2
          >I only completed important tasks.</button>
          <button
            id="answer-3C"
            class="answer-opt-3"
            data-text="I have trouble leaving the house."
            value=3
          >No, I don't feel like leaving the house.</button>
        </div>
      </div>
    </div>

    <hr />

    <!-- COMMENTS -->
    <div id="display-comments">
      <div class="ui form">
        <div class="field">
          <h3 class="heading">Additional Comments:</h3>
          <div class="ui grid">
            <div class="wide column">
              <textarea id="userComment"></textarea>
            </div>
            <!-- <div class="two wide column btn-col">
              <a id="add-comment"><i class="plus square icon"></i></a>
            </div> -->
          </div>
          <div class="btn-right">
            <form action="/overview" method="POST">
              <button type="submit" id="continue-btn" class="modal-btn">
                Continue
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
</main>

<%- include('partials/footer') -%>