<%- include('partials/header') -%>

<%- include('partials/navbar') -%>

<%- include('partials/add-entry') -%>

<main class="site-content overview">
    <div class="table-div">
      <table id="tracker-table" class="ui very basic selectable celled table">
        <thead id="category">
          <tr>
            <td>Date</td>
            <td>Mood</td>
            <td>Log</td>
            <td>Comments</td>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </main>

<%- include('partials/footer') -%>