/*****************************
COLORS
#D9532D#ff9665#F9B38D
#161E18#454E45#A9ABAA
#61afbd#8FDAE7#F5EFEA

exhilirated happy moderate sad depressed
#C1EAF1#A3E0EB#8FDAE7#76B3BE#5C8B93 13vw
*****************************/
.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  color: #161e18;
}

.site-content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*****************************
NAVIGATION
*****************************/
.ui.secondary.pointing.menu .item {
  color: #161e18;
}
.ui.secondary.pointing.menu .active.item {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #61afbd;
  font-weight: 700;
  color: #61afbd;
}

/*****************************
MAIN SECTION
*****************************/
hr {
  margin: 2rem 0;
}
.heading {
  font-size: 1.5rem;
}
#mood-states {
  margin: auto;
}
.column {
  text-align: center;
}
.summary {
  padding: 3rem;
  margin: auto;
  width: 90vw;
}
.mood {
  border: none;
  border-radius: 50%;
  box-shadow: 1px 1px 2px #a9abaa;
  height: 50px;
  width: 50px;
}
.button-clicked {
  height: 65px;
  width: 65px;
}
.mood-text {
  font-size: 1.25rem;
  margin-top: 1rem;
}
#exhilirated {
  background-color: #c1eaf1;
}
#happy {
  background-color: #a3e0eb;
}
#moderate {
  background-color: #8fdae7;
}
#sad {
  background-color: #76b3be;
}
#depressed {
  background-color: #5c8b93;
}

.question {
  font-size: 1.5rem;
  margin: 1.5rem 0;
}
.answer-opt-1,
.answer-opt-2,
.answer-opt-3 {
  border: 3px solid #f9b38d;
  border-radius: 10px;
  color: #000;
  display: block;
  font-size: 1.25rem;
  margin: 1rem 0;
  padding: 0.5rem;
  width: 50%;
}
.answer-opt-1:hover,
.answer-opt-2:hover,
.answer-opt-3:hover {
  background-color: #f9b38d;
}
.answer-selected {
  background-color: #f9b38d;
}

#continue-btn {
  background-color: #61afbd;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 700;
  margin-top: 2rem;
  padding: 1rem;
  text-transform: uppercase;
}
#continue-btn:hover {
  background-color: #8fdae7;
}
/*****************************
GRAPH
*****************************/
#graph {
  border-top: 2px solid #22242615;
  height: 10vw;
}

.hide {
  display: none;
}
